<!--extending base.html-->
{% extends 'base.html' %}
<!--Title of page-->
{% block title %}Store{% endblock %}
<!--custom methods-->
{% load custom_methods %}

<!--body-->
{% block  content %}
    <div class="container-fluid">
        <div class="row">
            <!--Filters-->
            <div class="col-lg-3 mx-auto">
                <div class="list-group">
                    <a href="/" class="list-group-item list-group-item-action">All Products</a>
                    {% for category in categoryList %}
                        <a href="/?category={{ category.id }}"
                           class="list-group-item list-group-item-action">{{ category.category }}</a>
                    {% endfor %}
                </div>
            </div>
            <!--Products-->
            <div id="products" class="col-lg-9 mx-auto">
                <div class="row mx-auto">
                    {% for product in productList %}
                        <div class="card mx-auto mb-5" style="width: 18rem;">
                            <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <h5 class="card-text">price : {{ product.price }}</h5>
                                <p class="card-text" style="margin-bottom :10px ; ">{{ product.description }}</p>
                                {{ product  | is_in_cart:request.session.cart }}
                                <form action="/" method="POST">
                                    {% csrf_token %}
                                    <input type="text" hidden name="product_id" value="{{ product.id }}">
                                    <input type="submit" class="float-right btn btn-light border btn-sm"
                                           value="Add to Cart"/>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
