<!--extending base.html-->
{% extends 'base.html' %}
<!--body-->
{% block  content %}
    <div class="container-fluid">
        <div class="row">
            <!--Filters-->
            <div class="col-lg-3 mx-auto">
                <div class="list-group">
                    {% for category in categoryList %}
                        <a href="#" class="list-group-item list-group-item-action">{{ category.category }}</a>
                    {% endfor %}
                </div>

            </div>
            <!--Products-->
            <div id="products" class="col-lg-9 mx-auto">
                <div class="row mx-auto">
                    {% for product in productList %}
                        <div class="card mx-auto mb-5" style="width: 18rem;">
                            <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <h5 class="card-text">price : {{ product.price }}</h5>
                                <p class="card-text" style="margin-bottom :10px ; ">{{ product.description }}</p>
                                <a href="#" class="btn btn-primary">Add to cart</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
