{% extends 'base.html' %}

{% block content %}
    <div class="container" style="padding-top: 25px;">
        <div class="p-4 m-4">
            <div class="col-lg-5 mx-auto border rounded pt-2 pb-3">
                <form action="/login" method="POST">
                    {% csrf_token %}
                    <h2 style="padding-left:125px;">Login here!</h2>

                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" name='email' class="form-control form-control-sm" placeholder="abc@xyz.com"
                               required value="{{ email }}">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name='pswd' class="form-control form-control-sm" placeholder="********"
                               required>
                    </div>
                    <button type="submit" class="btn btn-primary col-lg-4">Login</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        // Disable form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Get the forms we want to add validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{% endblock %}